Entity Framework 4 Recipes/Chapter9/Recipe6/BookingClient/Service References/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1198/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BookingEntities" />
  <xs:element name="GetAgentWithBookings">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAgentWithBookingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BookingEntities" minOccurs="0" name="GetAgentWithBookingsResult" nillable="true" type="q1:TravelAgent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitAgentBookings">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BookingEntities" minOccurs="0" name="agent" nillable="true" type="q2:TravelAgent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitAgentBookingsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>