Entity Framework 4 Recipes/Chapter13/Recipe13/TestClient/Service References/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1079/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ComplaintEntities" />
  <xs:element name="InsertTestRecord">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertTestRecordResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextComplaint">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextComplaintResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ComplaintEntities" minOccurs="0" name="GetNextComplaintResult" nillable="true" type="q1:CustomerComplaint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateComplaint">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ComplaintEntities" minOccurs="0" name="complaint" nillable="true" type="q2:CustomerComplaint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateComplaintResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ComplaintEntities" minOccurs="0" name="UpdateComplaintResult" nillable="true" type="q3:CustomerComplaint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>